body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: rgb(231, 222, 201);
    flex-direction: column;
    margin: 0;
}

.main {
    text-align: center;
    align-items: center;
    background-color: rgb(231, 222, 201);
    border-radius: 15px;
    transition: transform 0.2s;
    width: 50%;
    padding: 30px; /* Added padding for better spacing */
}

h2 {
    color: #8d5524; /* Title color */
}

label {
    text-align: center;
    align-items: center;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input {
    text-align: center;
    align-items: center;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #f1c27d;
    border-radius: 5px;
}

button {
    text-align: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: rgb(231, 222, 201);
    cursor: pointer;
    background-color: #c68642;
    width: 100%;
    font-size: 16px;
}

.wrap {
    align-items: center;
    display: contents;
    color: #c68642;
    width: 10%;
    max-width: 10%;
}
